[submodule "src/createmodel/housemodeling/roof_edge_detection_model/thirdparty/heat"]
	path = src/createmodel/housemodeling/roof_edge_detection_model/thirdparty/heat
	url = https://github.com/realglobe-Inc/heat/
